body {
  background-color: rgb(18,9,62);
  margin: 0;
  background-image: url('arcade.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-position: center center;
}

#board {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#start {
  color: #58229e;
  margin-top: 30%;
  text-align: center;  
  margin-left: 50%;
  transform: translate(-50%, -50%);
  border: black;
  font-size: 30px;
}

#score {
  text-align: center;
  margin-top: 5%;
  font-size: 140px;
  color: white;
}

#safe_border {
  text-align: center;
}

#left_dancer {
  margin-left: 68%;
  margin-top: -30%;

}

#right_dancer {
  margin-right: 68%;
  margin-top: -30%;
}