body {
  background-color: rgb(18,9,62);
  margin: 0;
  background-image: url('arcade.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-position: center center;
}

#board {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#start {
  color: #58229e;
  margin-top: 30%;
  text-align: center;  
  margin-left: 50%;
  transform: translate(-50%, -50%);
  border: black;
  font-size: 30px;
}

#score {
  text-align: center;
  margin-top: 5%;
  font-size: 140px;
  color: white;
}

#safe_border {
  text-align: center;
}

#left_dancer {
  margin-left: 68%;
  margin-top: -30%;

}

#right_dancer {
  margin-right: 68%;
  margin-top: -30%;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  bottom: 0;
  z-index: 9;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -140px 0 0 -160px;
}

.center {
  margin: auto;
  width: 50%;
  border: 3px solid rgb(72, 14, 105);
  padding: 10px;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
    margin: auto;
  border: 3px solid rgb(72, 14, 105);
  padding: 10px;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}